;; To use, fill in the values below and rename this file to `env.edn`
{:api-key "The value of your Twitter API Key"
 :api-secret "The value of your Twitter API Secret Key"
 :access-token "The value of your Twitter Access Token"
 :token-secret "The value of your Twitter Access Token Secret"
 :tweets-file "Name of file of newline-delimited list of tweet ids, or remove this line to accept default filename"
 :success-file "Name of file which successful tweet ids will be logged to, or remove this line to accept default filename"
 :retry-file "Name of file which tweet ids which encountered errors will be logged to for later retrying, or remove this line to accept default filename"
}
